*{margin:0px;padding:0px}

/*---------------------------------------*/

.index_header{
	width:100%;
	height:65px;
	color:#ffffff;
	background:url(../image/home/bg_header.jpg) bottom repeat-x;
	position:relative;
}

.index_header_left{
	position:absolute;
	width:380px;
	height:55px;
	line-height:55px;
	left:5px;
}
.headerImg{
	position:absolute;
	width:42px;
	height:42px;
	left:385px;
	border:2px solid #ffffff;
	top:7px;
	border-radius:21px;
	overflow:hidden;
}

.headerImg img{
	width:42px;
	height:42px;
	transition: all 0.5s;
}
.headerImg img:hover{transform: scale(1.4);}
.index_header_manage{
	position:absolute;
	width:100px;
	height:55px;
	line-height:55px;
	left:435px;
}
.index_header_right{
	position:absolute;
	top:0;
	right:5px;
	width:150px;
	height:55px;
	line-height:55px;
	color:#fff; 
	text-align:right;
}
.index_header_right a{
	color:#fff; 
	margin:0 5px;
	font-size:16px;
	text-decoration:none;
	padding-right:35px;
}
.index_header_right p img{
	width:28px;
	height:28px;
	position:absolute;
	top:14px;
	right:15px;
}


/*-------------------*/

/*----左侧导航菜单--------*/
.index-sidebar{
	width:300px;
	height:900px;
}


/*---------右侧(center)---------*/
.index-main{
}


/*-----------底部----------*/

.index-footer{
	height:30px; 
	text-align:center;
	background:#e0ecff;
}
