* {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

/*---------------*/
input{
    outline:medium;
}
.main {
    margin:auto;
    width: 1920px;
    height: 945px;
    position:relative;
}
/*顶部*/
.top {
    margin:auto;
    width: 1920px;
    height:100px;
    position:absolute;
    top:0px;
    left:0px;
    z-index:999;
    background-color:#068480;
}

.schoolLogo {
    width: 305px;
    height: 100px;
    float: left;
}

.schoolLogo img {
    width: 300px;
    height: 100px;
}

.information {
    float: left;
    width: 150px;
    height: 100px;
    line-height: 100px;
    color: #ffffff;
    font-size: 30px;
}

/*中间部分*/

.center{
    width:100%;
    height:100%;
    background-color:#f2f2f2;
    position:relative;
}

.userInput{
    width:1200px;
    height:560px;
    position:absolute;
    top:150px;
    left:360px;
}
.showInfo{
    width:800px;
    height:500px;
    float:left;
    margin-right:20px;
}
.showInfo img{
    width:798px;
}

/*输入*/
.checkInput{
    width:378px;
    height:450px;
    margin-top:50px;
    border:1px solid #dfdfdf;
    float:left;
    background-color:#ffffff;
}

.account{
    height:260px;
    margin:auto;
    margin-top:30px;
    width:350px;
}
.account .inputCss{
    margin-left:50px;
    width:250px;
    height:35px;.
}
.account #userName {
    margin-bottom:15px;
}
#checkNum{
    margin-top: 15px;
    margin-left: 50px;
    height:35px;
    width:145px;
}
#checkNumBtn{
    width: 100px;
    height:38px;
}

.account #roleChoose{
    width:100%;
    height:30px;
    line-height:30px;
    font-size: 12px;
    text-align: center;
    margin-top:15px;
    margin: auto;
}
.adminFlag{
    margin:0px 5px;
}
.account .forgetPwd{
    float:right;
    padding-right:50px;
    font-size:14px;
    color:green;
    text-decoration:none;
}
.account .forgetPwd:hover{
    text-decoration:underline;
}
#loginBtn{
    margin-left:50px;
    margin-top:5px;
    width:250px;
    height:40px;
    background-color:#059490;
    border-radius:5px;
    border:1px solid blue;
    color:#ffffff;
    font-size:20px;
    cursor:pointer;
    border:none;
}
.prompt{
    height:120px;
    margin:auto;
    width:250px;

    line-height:20px;
    font-size:14px;
    color:#666666;
}

.prompt p{
    font-size:12px;
}

/*底部*/
.bottom {
    margin:auto;
    width: 1920px;
    height:50px;
    position:absolute;
    bottom:0px;
    left:0px;
    z-index:999;
    background-color:#dfdfdf;
    text-align:center;
    font-size:16px;
    line-height:50px;
}

