<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title></title>
    <link rel="stylesheet" th:href="@{/static/css/detail.css}">
    <link rel="stylesheet" th:href="@{/static/css/head.css}" />
    <link rel="stylesheet" th:href="@{/static/css/foot.css}" />
</head>
<body>
<div class="main">

    <div class="top">
        <div th:include="head :: head"></div>
    </div>

    <!-- center Begin -->
    <div class="center">
        <!-- 显示当前页面所显示的位置 -->
        <div class="pagePosition">
            <span style="padding-left:30px">当前位置:</span>&nbsp;
            <a th:href="@{/}">首页</a>&nbsp;-&nbsp;<a th:href="@{/news(type=student)}">新生导读</a>&nbsp;-&nbsp;正文
        </div>
        <div class="articleHeader">
            <span id="title">MrYang测试</span>
            作者：<span class="other" id="author">MrYang</span>
            系统管理员单位：<span class="other">学工处 </span>
            发布时间：<span class="other" id="date">2019-11-21</span>
        </div>
        <hr style="width:90%;margin:auto;"/>
        <div class="articleContent" id="articleContent">
            的萨芬的发送到发送到发送到发是的发送到发生的发生地方3发送到发顺丰法撒旦法师的
            法师打是的发送到是的发送到发是的发是的发送到发生的发生
            的萨芬的发送到发送到发送到发是的发送到发生的发生地方3发送到发顺丰法撒旦法师的
            法师打是的发送到是的发送到发是的发是的发送到发生的发生
            的萨芬的发送到发送到发送到发是的发送到发生的发生地方3发送到发顺丰法撒旦法师的
            法师打是的发送到是的发送到发是的发是的发送到发生的发生
            的萨芬的发送到发送到发送到发是的发送到发生的发生地方3发送到发顺丰法撒旦法师的
            法师打是的发送到是的发送到发是的发是的发送到发生的发生
            的萨芬的发送到发送到发送到发是的发送到发生的发生地方3发送到发顺丰法撒旦法师的
            法师打是的发送到是的发送到发是的发是的发送到发生的发生
            的萨芬的发送到发送到发送到发是的发送到发生的发生地方3发送到发顺丰法撒旦法师的
            法师打是的发送到是的发送到发是的发是的发送到发生的发生的萨芬的发送到发送到发
            送到发是的发送到发生的发生地方3发送到发顺丰法撒旦法师的
            法师打是的发送到是的发送到发是的发是的发送到发生的发生
            的萨芬的发送到发送到发送到发是的发送到发生的发生地方3发送到发顺丰法撒旦法师的
            法师打是的发送到是的发送到发是的发是的发送到发生的发生
            的萨芬的发送到发送到发送到发是的发送到发生的发生地方3发送到发顺丰法撒旦法师的
            法师打是的发送到是的发送到发是的发是的发送到发生的发生
            的萨芬的发送到发送到发送到发是的发送到发生的发生地方3发送到发顺丰法撒旦法师的
            法师打是的发送到是的发送到发是的发是的发送到发生的发生
            的萨芬的发送到发送到发送到发是的发送到发生的发生地方3发送到发顺丰法撒旦法师的
            法师打是的发送到是的发送到发是的发是的发送到发生的发生
            的萨芬的发送到发送到发送到发是的发送到发生的发生地方3发送到发顺丰法撒旦法师的
            法师打是的发送到是的发送到发是的发是的发送到发生的发生
            的萨芬的发送到发送到发送到发是的发送到发生的发生地方3发送到发顺丰法撒旦法师的
            法师打是的发送到是的发送到发是的发是的发送到发生的发生

        </div>

    </div><!-- center End -->

    <div>
        <div th:include="foot :: foot"></div>
    </div>

</div>
</body>
</html>
