<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Edu后台管理系统</title>
    <link rel="stylesheet" th:href="@{/static/easyUI/themes/default/easyui.css}" />
    <link rel="stylesheet" th:href="@{/static/easyUI/themes/icon.css}" />
    <link rel="stylesheet" th:href="@{/static/css/home.css}" />
    <script th:src="@{/static/js/jquery-3.3.1.js}"></script>
    <script th:src="@{/static/easyUI/jquery.easyui.min.js}"></script>
    <script th:src="@{/static/easyUI/locale/easyui-lang-zh_CN.js}"></script>
    <script th:src="@{/static/js/home.js}"></script>
</head>
<body class="easyui-layout">
    <!-- 顶部导航 -->
    <div class="index_header" data-options="region:'north',border:false,split:true">
        <div class="index_header_left">
            <span style="font-size:26px;font-family:'YouYuan'"><strong>Welcome Use 后台管理系统</strong></span>
        </div>
        <div class="headerImg">
            <img th:src="@{/static/image/home/headerImg.png}" />
        </div>
        <div class="index_header_manage">
            <p><strong th:text="${name}">tom</strong></p>
        </div>
        <div class="index_header_right">
            <p>
                <a href="javascript:void(0)" id="adminExit" onclick="adminExit()">
                    <img th:src="@{/static/image/home/shutdown1.png}" title="退出" />
                </a>
            </p>
        </div>
    </div><!-- 顶部 End -->

    <!-- 左侧导航菜单 -->
    <div class="index-sidebar easyui-accordion" data-options="region:'west',split:true,border:true,title:'导航菜单'">

        <div th:each="group : ${menuGroup}" th:title="${group}" data-options="iconCls:'icon-application-cascade'" style="padding:5px;">
            <ul class="easyui-tree linkheader">
                <li iconCls="icon-menu-info-student" th:each="menu : ${menus}" th:if="${group==menu['group']}">
                    <a href="javascript:void(0)" data-icon="icon-menu-info-student" th:data-link="${menu['menuUrl']}" iframe="0" th:text="${menu['menuName']}"></a>
                </li>
            </ul>
        </div>

    </div><!-- 左侧 End -->

    <!-- 右侧(center)页面显示 -->
    <div class="index-main" data-options="region:'center'">
        <div id="index-tabs" class="easyui-tabs" data-options="border:false,fit:true" >
            <div title="首页" data-options="closable:false,iconCls:'icon-tip',cls:'pd3'">
                <!--<iframe scrolling="auto" frameborder="0"  th:src="welcomePage" style="width:100%;height:100%;"></iframe>-->
            </div>
        </div>
    </div><!-- 右侧 End -->

    <div class="index-footer" data-options="region:'south',border:true,split:true">
        &copy; 2018 My All Rights Reserved
    </div>


</body>
<script>
    $(function () {
        //防止退出登录后浏览器退回依旧可以进入后台时刷新页面
        if(window.name != "bencalie"){
            location.reload();
            window.name = "bencalie";
        }else{
            window.name = "";
        }
    });
</script>
</html>
