<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>新生导读</title>
    <link rel="stylesheet" th:href="@{/static/css/head.css}" />
    <link rel="stylesheet" th:href="@{/static/css/foot.css}">
    <link rel="stylesheet" th:href="@{/static/css/news.css}">
</head>
<body>
    <div class="main">

        <div class="top">
            <div th:include="head :: head"></div>
        </div>

        <!-- center Begin -->
        <div class="center">
            <div class="left">
                <p>
                    <span style="padding-left:25px;">新生导读</span>
                </p>
            </div>
            <div class="right">
                <div class="newStuGuide">
                    <span style="padding-left:35px;">新生导读</span>
                </div>
                <div class="newsArticle">
                    <ul>
                        <li>
                            <a th:href="@{/news/detail/{id}(id=21)}">
                                <span>【新生导读】</span><span class="title">2018年本科生数字迎新平台操作须知</span>
                            </a>
                            <span class="time">2018-8-9</span>
                        </li>
                        <li>
                            <a th:href="@{/news/detail/{id}(id=21)}">
                                <span>【新生导读】</span><span class="title">2018年本科生数字迎新平台操作须知</span>
                            </a>
                            <span class="time">2018-8-9</span>
                        </li>
                        <li>
                            <a th:href="@{/news/detail/{id}(id=21)}">
                                <span>【新生导读】</span><span class="title">2018年本科生数字迎新平台操作须知</span>
                            </a>
                            <span class="time">2018-8-9</span>
                        </li>
                        <li>
                            <a th:href="@{/news/detail/{id}(id=21)}">
                                <span>【新生导读】</span><span class="title">2018年本科生数字迎新平台操作须知</span>
                            </a>
                            <span class="time">2018-8-9</span>
                        </li>
                        <li>
                            <a th:href="@{/news/detail/{id}(id=21)}">
                                <span>【新生导读】</span><span class="title">2018年本科生数字迎新平台操作须知</span>
                            </a>
                            <span class="time">2018-8-9</span>
                        </li>
                        <li>
                            <a th:href="@{/news/detail/{id}(id=21)}">
                                <span>【新生导读】</span><span class="title">2018年本科生数字迎新平台操作须知</span>
                            </a>
                            <span class="time">2018-8-9</span>
                        </li>
                        <li>
                            <a th:href="@{/news/detail/{id}(id=21)}">
                                <span>【新生导读】</span><span class="title">2018年本科生数字迎新平台操作须知</span>
                            </a>
                            <span class="time">2018-8-9</span>
                        </li>
                        <li>
                            <a th:href="@{/news/detail/{id}(id=21)}">
                                <span>【新生导读】</span><span class="title">2018年本科生数字迎新平台操作须知</span>
                            </a>
                            <span class="time">2018-8-9</span>
                        </li>
                        <li>
                            <a th:href="@{/news/detail/{id}(id=21)}">
                                <span>【新生导读】</span><span class="title">2018年本科生数字迎新平台操作须知</span>
                            </a>
                            <span class="time">2018-8-9</span>
                        </li>
                        <li>
                            <a th:href="@{/news/detail/{id}(id=21)}">
                                <span>【新生导读】</span><span class="title">2018年本科生数字迎新平台操作须知</span>
                            </a>
                            <span class="time">2018-8-9</span>
                        </li>
                        <li>
                            <a th:href="@{/news/detail/{id}(id=21)}">
                                <span>【新生导读】</span><span class="title">2018年本科生数字迎新平台操作须知</span>
                            </a>
                            <span class="time">2018-8-9</span>
                        </li>
                        <li>
                            <a th:href="@{/news/detail/{id}(id=21)}">
                                <span>【新生导读】</span><span class="title">2018年本科生数字迎新平台操作须知</span>
                            </a>
                            <span class="time">2018-8-9</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div><!-- center End -->


        <div>
            <div th:include="foot :: foot"></div>
        </div>

    </div>
</body>
</html>
